
  <!-- navegacion navbar -->
  <!-- ----------------- -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="images/logo-christian.png" alt="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link fw-bold" data-description="inicio | Christian FreeLance" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" data-description="PrestaShop | Christian FreeLance" href="prestashop.html">PrestaShop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" data-description="WordPress | Christian FreeLance" href="wordpress.html">WordPress</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" data-description="Paginas Web | Christian FreeLance" href="paginas-web.html">Paginas Web</a>
              </li>
               <li class="nav-item">
                <a class="nav-link fw-bold" data-description="Servicios IA | Christian FreeLance" href="servicios-ia.html">Servicios IA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold" data-description="Contactar | Christian FreeLance" href="contacto.html">Contactar</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <!-- fin navegacion navbar -->
        <!-- --------------------- -->
